<div class="news-section">
    <h2 class="news-title">Latest News</h2>
    <div class="news-articles">
        <!-- News articles will be dynamically injected here -->
    </div>
</div>
<script src="/js/news.js"></script>